TF_VAR_db_password=
TF_VAR_aws_region=
PROJECT_NAME=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=*

DATABASE_URL=

PASSPORT_SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

EFS_MOUNT_PATH=

S3_REPO_BUCKET=